In [1]:
!pip install xlrd
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: xlrd in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (2.0.1)

In [2]:
df = pd.read_excel('s3://dleyde-ia240-s3/house_price (2).xlsx')

In [5]:
unit_price = df['price'].div(df['area'])
df['unit_price'] = unit_price
print(df.head(10))

     ID   price  bedroom  bathroom          house_type  lot_size  built_in  \
0   993  229900        3         2  single-family home     10018      2002
1   994  149900        4         2  single-family home      8712      1975
2   995  229900        3         2  single-family home     13504      1988
3   996  359000        5         4  single-family home     10130      1997
4   999  394000        3         2  single-family home     18295      2001
5  1000  349900        3         2  single-family home    204732      1967
6  1002  148500        3         1  single-family home      9147      1959
7  1003  134900        2         2           townhouse      2300      1994
8  1004  265000        3         3  single-family home     13939      1998
9  1005  149900        4         3           townhouse      2291      1999

   area  days  views  unit_price
0  1541    77   1357  149.188838
1  1810     5   1282   82.817680
2  1456    76    947  157.898352
3  2903    79    951  123.665174
4  2616    73    709  150.611621
5  3850    42    366   90.883117
6  1000    17    328  148.500000
7   920    56    328  146.630435
8  2705    12    362   97.966728
9  1440     4    137  104.097222

In [7]:
house_type_count = df['house_type'].value_counts()
print(house_type_count)

single-family home    36
townhouse              3
condo                  2
Name: house_type, dtype: int64

In [9]:
avg_price_more_than_two_bathrooms = df.loc[df['bathroom'] > 2, 'price'].mean()
print('The average house price for a house with more than 2 bathrooms is ${:,.2f}'.format(avg_price_more_than_two_bathrooms))

The average house price for a house with more than 2 bathrooms is $383,645.45

In [10]:
median_unit_price = df['unit_price'].median()
mean_unit_price = df['unit_price'].mean()

print(f"The median unit price is ${median_unit_price:,.2f}")
print(f"The mean unit price is ${mean_unit_price:,.2f}")

The median unit price is $130.13
The mean unit price is $167.46

In [12]:
# Compute average unit price by house type
avg_unit_price_by_house_type = df['unit_price'].groupby(df['house_type']).mean()

# Print results
print("Average unit price by house type:")
for house_type, avg_unit_price in avg_unit_price_by_house_type.items():
    print(f"{house_type}: ${avg_unit_price:.2f}")

Average unit price by house type:
condo: $113.67
single-family home: $173.47
townhouse: $131.16

In [15]:
from scipy import stats

x = df['area']
y = df['price']
slope, intercept, r_value, p_value, std_err = stats.linregress(x, y)

print("Linear regression results:")
print(f"  Slope: {slope:.2f}")
print(f"  Intercept: {intercept:.2f}")
print(f"  R-squared: {r_value**2:.2f}")
print(f"  p-value: {p_value:.2f}")

Linear regression results:
  Slope: 79.95
  Intercept: 156254.76
  R-squared: 0.23
  p-value: 0.00

In [16]:
sqft = 2000
predicted_price = slope * sqft + intercept

print(f"Predicted price for a {sqft} sqft house: ${predicted_price:,.2f}")

Predicted price for a 2000 sqft house: $316,164.68